{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div
		class="container px-lg-5">
		<!-- Page Features-->
		<div class="row gx-lg-5">
			<div class="col-lg-6 col-xxl-12 mb-5">
				<div class="card bg-light border-0 h-100">
					<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-5">

						{{ form_start(form) }}
						<div class="my-custom-class-for-errors">
							{{ form_errors(form) }}
						</div>

						<div class="row">
							<div class="col-12 mb-5">
								{{ form_row(form.fullName) }}
							</div>
							<div class="col-12 mb-5">
								{{ form_row(form.sujet) }}
							</div>
							<div class="col-12 mb-5">
								{{ form_row(form.email) }}
							</div>
							<div class="col-12 mb-5">
								{{ form_row(form.message) }}
							</div>
							<div class="col-12 mb-5">
								{{ form_row(form.Envoyer) }}
							</div>
						</div>
						{{ form_end(form) }}


					</div>

				</div>
			</div>

		</div>
	</div>

{% endblock %}
