{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!
{% endblock %}

{% block body %}
	<section class="pt-4">
		<div
			class="container px-lg-5">
			<!-- Page Features-->

			<div class="row gx-lg-5">
					<div class="col-lg-6 col-xxl-4 mb-5">
						<div class="card bg-light border-0 h-100">
							<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
								<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
									<img src="{{service.url}}" class="card-img-top" alt="...">
								</div>
								<h5 class="fs-4 fw-bold">{{service.service}}</h5>
								<p class="mb-0">{{service.description}}</p>
								<div class="col-md-12 text-center">

									<a href="#" class="btn btn-dark w-35 mx-auto mt-5">demander un devis</a>
									<a class="btn btn-dark w-25 mx-auto mt-5" href="{{path('app_service')}}">Retour</a>
									{{ include('service/delete.html.twig') }}
								</div>
							</div>
						</div>
					</div>
			</div>

		</div>

	</section>
{% endblock %}
